@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('../images/icons/style.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #323232;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #F5F5F5;
}
h1{
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    margin-top: 16px;
    margin-bottom: 32px;
    white-space: nowrap;
}
h2{
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
}
h3{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
h4{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.button{
    background: #F5C946;
    box-shadow: 0px 8px 16px rgba(245, 201, 70, 0.25);
    border-radius: 16px;
    padding: 18px 24px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    box-shadow: 0px 8px 16px rgba(245, 201, 70, 0.25);
    text-align: center;
}
.button:hover{
    background: linear-gradient(180deg, #F5C946 0%, #FDC00C 100%);
}
.button.disactive{
    background-color: #F0F0F0;
    box-shadow: none;
}

.icon-Check_circle,
.icon-alert_circle{
    font-size: 32px;
}

.shadow{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}
.mt-80{
    margin-top: 80px;
}
.mt-130{
    margin-top: 130px;
}
.item_wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.item{
    background: #F0F0F0;
    border-radius: 48px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    position: relative;
}
.bold{
    font-weight: 700;
}
.transparent_color{
    color: rgba(50, 50, 50, 0.5);
    white-space: nowrap;
}
.green{
    color:#2CA900;
}
.icon{
    display: flex;
    justify-content: center;
}
.icon i{
    font-size: 56px;
    box-shadow: 0px 8px 16px rgba(245, 201, 70, 0.25);
    position: absolute;
    background-color: #F5C946;
    border-radius: 100px;
    padding: 38px;
    top: -65px;
}
.item h3{
    margin-top: 106px;
    margin-bottom: 24px;
}
.item p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}
header{
    margin-bottom: 231px;
    margin-top: 216px;
}
nav{
    padding-top: 14px;
    padding-bottom: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F5F5F5;
    
    z-index: 100000;
}
nav .navigation{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: start;
    list-style-type: none;
    align-items: center;
}
nav ul li{
    margin-right: 48px;
}
nav ul li:last-child{
    margin-right: 0;
}
nav ul li a{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
nav ul li a:hover{
    text-decoration: underline;
}

.header_section{
    display: flex;
    justify-content: space-between;
}
.header_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 36%;
}
.header_h2{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    text-align: start;
}
.header_name{
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    text-transform: capitalize;
}

.header_description p{
    font-size: 20px;
    line-height: 26px;
}
.fb_color{
    color: #3E74DA;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.inst_color{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background: -webkit-linear-gradient(0deg, #F7D649, #EC8031, #E7346B, #BF2DBF, #6D41F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header_image{
    width: 47.2%;
}
.header_section .photo_shadow{
    position: relative;
    background-color: #F5C946;
    border-radius: 48px;
    width: 604px;
    height: 710px;
}
.header_section .photo{
    position: absolute;
    border-radius: 48px;
    top: 32px;
    right: 32px;
    filter: drop-shadow(0px 1px 16px rgba(0, 0, 0, 0.25));
    width: 100%;
    height: 100%;
    background-size: cover;
}

.social_links a{
    margin-right: 40px;
}
.social_links a:last-child{
    margin-right: 0px;
}
.social_icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: cover;
}
.tg_icon{
    background-image: url('../images/sprites/telegram.svg');
}
.footer_tg_icon{
    background-image: url('../images/sprites/footer_telegram.svg');
}
.tg_icon:hover,
.footer_tg_icon:hover{
    background-image: url('../images/sprites/telegram_hover.svg');
}
.wa_icon{
    background-image: url('../images/sprites/whatsapp.svg');
}
.footer_wa_icon{
    background-image: url('../images/sprites/footer_whatsapp.svg');
}
.wa_icon:hover,
.footer_wa_icon:hover{
    background-image: url('../images/sprites/whatsapphover.svg');
}
.inst_icon{
    background-image: url('../images/sprites/instagram.svg');
}
.footer_inst_icon{
    background-image: url('../images/sprites/footer_instagram.svg');
}
.inst_icon:hover,
.footer_inst_icon:hover{
    background-image: url('../images/sprites/instagram_hover.svg');
}
.phn_icon{
    background-image: url('../images/sprites/phone.svg');
}
.footer_phn_icon{
    background-image: url('../images/sprites/footer_phone.svg');
}
.phn_icon:hover,
.footer_phn_icon:hover{
    background-image: url('../images/sprites/phone_hover.svg');
}
.tel{
    position: relative;
}
.tel .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #323232;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -60px;
    left: 55%;
    margin-left: -75px;
    font-size: 12px;
  }
  
  .tel:hover .tooltiptext {
    visibility: visible;
  }
.tel_mobile{
    display: none;
}
.header_button{
    margin-top: 106px;
    margin-bottom: 80px;
}


.results_wrapper{
    margin-top: 46px;
    margin-bottom: 100px;
}

.result_item{
    padding-top: 40px;
    margin-bottom: 24px;
}
.result_item h4{
    margin-left: 40px;
    margin-top: 20px;
}
.result_wrapper{
    display: flex;
    justify-content: space-between;
}
.result_data_wrapper{
    display: flex;
    flex-direction: column;
    width: 70%;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 400;
    margin-left: 40px;
    margin-right: 59px;
}
.result_data_wrapper .partnership{
    margin: 40px 0;
    display: flex;
    flex-direction: row;
}
.result_data_wrapper .partnership div{
    display: flex;
    flex-direction: column;
}
.result_data_wrapper .partnership div:first-child{
    margin-right: 40px;
}

.result_data_wrapper .partnership div span:first-child{
    margin-bottom: 16px;
}


.result_data_wrapper .budget{
    margin-bottom: 40px;
}

.result_data_wrapper .budget{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.result_data_wrapper .budget div span:last-child{
    font-size: 60px;
    line-height: 73px;
}

.result_data_wrapper .results{
    display: none;
}
.result_data_wrapper .results .flex_results{
    display: flex;
    flex-direction: row;
}
/* .result_data_wrapper .results.show{
    opacity: 1;
    height: 62px;
} */
.result_data_wrapper .results div{
    margin-right: 80px;
}
.result_data_wrapper .results div span:first-child{
    font-size: 12px;
    line-height: 15px;
}
.result_data_wrapper .results div span:last-child{
    font-size: 32px;
    line-height: 39px;
}

.feedback_wrapper{
    width: 25%;
    margin-right: 18px;
    display: flex;
    align-items: center;
}
.feedback_wrapper .feed_wrap{
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 32px 32px 0 32px;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-top: -44px;
}
.client_info{
    display: flex;
    margin-bottom: 30px;
}
.client_photo_wrapper{
    margin-right: 16px;
}
.client_info .client_description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.feedback_wrapper .client_name{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #323232;
}
.feedback_wrapper .client_profession{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(50, 50, 50, 0.5);
}
.results_wrapper .feedback_wrapper .feedback p{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #323232;
}

.more{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 35%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    background: #F5C946;
    border-radius: 48px 48px 0 0;
    cursor: pointer;
    /* transition: all 0.2s linear; */
    transition: height 0.2s linear;
}
.more:hover{
    background: linear-gradient(180deg, #F5C946 0%, #FDC00C 100%);
} 
.more.less{
    border-radius: 0 0 48px 48px;
    bottom: -32px;
}
.more_text{
    display: none;
}
.less_text{
    display: none;
}
.more_text.active,
.less_text.active{
    display: block;
}

.more p{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #000000;
}
.mb_57{
    margin-bottom: 57px;
}


.about_item{
    width: 33%;
    margin-right: 25px;
}
.about_item:last-child{
    margin-right: 0;
}



.collab_item{
    width: 50%;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.collab_item:last-child{
    margin-right: 0;
}
.collab_item p{
    margin-bottom: 24px;
}

.collaboration_list{
    list-style-type: none;
    margin-bottom: 82px;
}

.collaboration_list li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.collaboration_list li:nth-last-child(2){
    margin-bottom: 42px;
}
.collaboration_list li:last-child{
    margin-bottom: 0;
}
.collaboration_list li span:first-child{
    margin-right: 18px;
}

.collaboration_list li span:last-child{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}

.button_wrapper{
    display: flex;
    justify-content: end;
}
.collab_item .button_wrapper .button{
    width: 240px;
}

/* Форма обратной связи */
.form_wrapper{
    width: 100%;
    background-color: #F5C946;
    border-radius: 48px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.form{
    display: none;
    flex-direction: column;
    padding: 100px 365px;
}
.form .input_wrapper{
    margin-bottom: 40px;
    position: relative;
}
.form div .form_label{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    position: absolute;
    top: -14px;
    left: 30px;
    background-color: #F5C946;
    padding: 3px;
    z-index: 1000;
}
.form div input{
    background: #F5C946;
    border-radius: 16px;
    width: 100%;
    border: 1px solid #000000;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.form div input::placeholder{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.25);
}

.form .form_button{
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(142, 107, 0, 0.25);
    border-radius: 16px;
    cursor: pointer;
}
.form .form_button:hover{
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F0F0 100%);
}
.thank_form{
    padding-top: 135px;
    padding-bottom: 135px;
    display: none;
    flex-direction: column;
    align-items: center;
}
.thank_you{
    margin-top: 33px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
}
.contact_you{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}
.refresh{
    cursor: pointer;
    margin-top: 33px;
}
.timer{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 10px;
}
.form.active,
.thank_form.active{
    display: flex;
}

.question_wrapper{
    flex-direction: column;
}
.question_item{
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 16px;
    position: relative;
}

.question_item:last-child{
    margin-bottom: 0;
}
.question_item .text{
    display: none;
    margin-top: 24px;
    margin-bottom: 66px;
}

.question_info{
    margin-top: 16px;
    margin-bottom: 16px;
}

.more_info{
    position: absolute;
    bottom: 38px;
    right: 40px;
}
.more-icon{
    font-size: 20px;
    border-radius: 61px;
    padding: 18px;
    background-color: #F5C946;
    cursor: pointer;
}
.icon-plus:hover{
    background: linear-gradient(180deg, #F5C946 0%, #FDC00C 100%);
}


footer{
    background-color: #F5C946;
}
footer .container{
    display: flex;
    justify-content: space-between;
}
.footer_info, .footer_section{
    margin-top: 24px;
    margin-bottom: 37px;
}
footer .footer_info h2{
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.footer_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.footer_section p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
footer h4{
    margin-bottom: 32px;
}

.arrow_up{
    cursor: pointer;
    margin-top: 24px;
}
.arrow_up i{
    font-size: 40px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 8px 16px rgba(245, 201, 70, 0.25);
    border-radius: 16px;
    padding: 20px;
}

.arrow_up i:hover{
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(245, 201, 70, 0.25);
}

.link{
    color: #3E74DA;
}
.link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1279px)  {
    .container{
        max-width: 768px;
    }
    h1{
        font-size: 38px;
        line-height: 46px;
    }
    .header_h2{
        font-size: 20px;
        line-height: 24px;
    }
    .header_description{
        width: 50%;
    }
    .header_description p,
    .header_description p .fb_color,
    .header_description p .inst_color{
        font-size: 16px;
        line-height: 26px;
    }
    .header_button{
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .header_image{
        width: 45%;
    }
    .header_section .photo_shadow{
        width: 346px;
        height: 406px;
    }
    .header_section .photo_shadow img{
        top: 18px;
        right: 18px;
    }
    .item_wrapper{
        flex-direction: column;
    }
    .about_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 90px;
    }
    .about_item h3{
        text-align: center;
    }
    .result_wrapper{
        flex-direction: column-reverse;
        margin-top: 40px;
    }
    .result_item h4 {
        margin-left: 0;
    }
    .result_data_wrapper{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .feedback_wrapper{
        width: 100%;
    }
    .feedback_wrapper .feed_wrap{
        margin-top: 0;
    }
    .collab_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 89px;
    }
    .collaboration_list{
        margin-bottom: 62px;
    }
    .collab_item .button_wrapper .button {
        width: 100%;
    }
    .form{
        padding: 50px 40px;
    }
    .thank_form{
        padding-top: 85px;
        padding-bottom: 85px;
    }
}
@media screen and (max-width: 767px) {
    nav{
        display: none;
    }
    .header_description{
        width: 100%;
    }
    .social_links{
        display: flex;
        justify-content: center;
    }
    .header_button {
        margin-top: 48px;
        margin-bottom: 50px;
    }
    .header_image{
        display: none;
    }
    .container{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .more{
        width: 80%;
    }

    .question_info{
        width: 80%;
    }
    .tel{
        display: none;
    }
    .tel_mobile{
        display: block;
    }

    .tg_icon,
    .footer_tg_icon{
        background-image: url('../images/sprites/telegram_hover.svg');
    }
    .wa_icon,
    .footer_wa_icon{
        background-image: url('../images/sprites/whatsapphover.svg');
    }
    .inst_icon,
    .footer_inst_icon{
        background-image: url('../images/sprites/instagram_hover.svg');
    }
    .phn_icon,
    .footer_phn_icon{
        background-image: url('../images/sprites/phone_hover.svg');
    }
    .footer_container{
        flex-direction: column;
    }
}